* {
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: rgb(5, 5, 5);
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  position: absolute;
  width: 100%;
}
.App {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.Home--Page {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(./images/background.png);
  background-size: 1400px 1100px;
  background-position-y: -90px;
}
/* Header */
.header {
  position: sticky;
  top: 0;
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 22%;
  min-height: 150px;
  max-height: 150px;
  transition: all 0.4s ease-in-out;
  z-index: 100;
}
.header:hover {
  background-color: rgba(5, 5, 5, 0.95);
}
.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 99%;
  height: 45%;
}
.links {
  list-style-type: none;
  width: 85%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22%;
  font-size: 0.9rem;
}
li a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}
h1 {
  font-size: 2.4rem;
  font-family: Cochin, Times, 'Times New Roman', serif;
}
.empty {
  position: relative;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.name {
  color: white;
  text-decoration: none;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.github--logo {
  width: 12%;
}
.name p {
  font-size: 0.5rem;
}
.burger--container {
  position: relative;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: none;
}
.burger--button {
  width: 25px;
  height: 3px;
  border-radius: 5px;
  background-color: white;
  transition: all 0.4s ease-in-out;
}
.burger--button::after,
.burger--button::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 3px;
  border-radius: 8px;
  background-color: white;
  transition: all 0.4s ease-in-out;
}
.burger--button::before {
  transform: translateY(-10px);
}
.burger--button::after {
  transform: translateY(10px);
}
.burger--button.white,
.burger--button.white::before,
.burger--button.white::after {
  background-color: white;
}
/* ANIMATION */
.burger--container.open .burger--button {
  background: transparent;
}
.burger--container.open .burger--button::before {
  transform: rotate(45deg);
}
.burger--container.open .burger--button::after {
  transform: rotate(-45deg);
}

/* Home Page */
.season--container {
  top: 150px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75%;
  gap: 135px;
}
.season {
  height: 60px;
  width: 60%;
  background-color: rgb(35, 35, 35);
  border-color: rgb(35, 35, 35);
  border-style: solid;
  color: white;
  font-size: 1.3rem;
  transition: all 0.1s ease-in-out;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.season:hover {
  background-color: rgb(20, 20, 20);
  border-color: rgb(20, 20, 20);
}
.cart--container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 100%;
}
.cart--quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
  font-weight: bold;
  position: relative;
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
  background-color: red;
  width: 22px;
  height: 22px;
  top: -13px;
  right: 6px;
}
.cart {
  width: 28px;
}
video {
  height: 100%;
  width: 100%;
  position: fixed;
  object-fit: cover;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* Womens Page */

.women--page {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgb(5, 5, 5);
  background-image: url('./images/clothing/female/female-model.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 120px;
  min-height: 100vh;
  width: 100%;
  align-items: center;
}

.women--container {
  position: relative;
  top: 100px;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.women--container p {
  font-size: 2.4rem;
  font-family: Cochin, Times, 'Times New Roman', serif;
  letter-spacing: 5px;
}

/* Mens Page */

.men--page {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgb(5, 5, 5);
  background-image: url('./images/clothing/male/male-model.jpg');
  background-size: 250px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 50px;
  min-height: 100vh;
  width: 100%;
  align-items: center;
}

.men--container {
  position: relative;
  top: 100px;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.men--container p {
  font-size: 2.4rem;
  font-family: Cochin, Times, 'Times New Roman', serif;
  letter-spacing: 5px;
}

/* About Page */

.About--page {
  display: flex;
  flex-direction: column;
  background-color: rgb(5, 5, 5);
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-height: 100vh;
  align-items: center;
}
.about--container {
  width: 100%;
  height: 40%;
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about--container p {
  font-size: 2.4rem;
  font-family: Cochin, Times, 'Times New Roman', serif;
  letter-spacing: 5px;
}
.about--preview--container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 100%;
  min-height: 250px;
  top: -80px;
}
.about--detail {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 95%;
  max-width: 500px;
}

/* Shopping Cart Page */
.shopping--cart--page {
  display: flex;
  flex-direction: column;
  background-color: rgb(5, 5, 5);
  min-height: 100vh;
  width: 100%;
  align-items: center;
  gap: 15px;
}
.shopping--cart--title--container {
  width: 100%;
  height: 20%;
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shopping--cart--title--container p {
  font-size: 2.4rem;
  font-family: Cochin, Times, 'Times New Roman', serif;
  letter-spacing: 5px;
}
.shopping--cart--container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 85%;
  max-width: 650px;
  height: 160px;
  border-style: solid;
  padding: 1%;
}
.shopping--cart--container img {
  height: 100px;
  padding: 1px;
}
.shopping--cart--info {
  height: 70%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.shopping--cart--quantity {
  margin-right: 5px;
}
.shopping--cart--name {
  font-size: 1.2rem;
  font-weight: bold;
}
.shopping--cart--remove {
  color: rgb(255, 123, 123);
  cursor: pointer;
}
.payment--container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 85%;
  max-width: 650px;
  border-style: solid;
  padding: 2%;
  margin-bottom: 50px;
}
.pricing--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 40px;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: white;
}
.total--container {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 40px;
  font-weight: bold;
  font-size: 1.2rem;
}
.place--order {
  margin-top: 10px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 40px;
  font-weight: bold;
  font-size: 1.2rem;
  color: black;
  border-style: solid;
  border-color: rgb(132, 205, 110);
  border-radius: 10px;
  background-color: rgb(132, 205, 110);
  cursor: pointer;
}
.price {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-style: solid;
  border-color: white;
  width: 50%;
}

/* items component */
.item--preview--container {
  padding: 5px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100px;
  top: 225px;
  gap: 1%;
}
.item--preview {
  border-style: solid;
  border-color: rgb(5, 5, 5);
  background-color: rgba(0, 0, 0, 0.75);
  border-width: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 10px;
  width: 49%;
  height: 400px;
}
.item--name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 20%;
  max-height: 45px;
  font-size: 0.7rem;
  font-weight: bold;
  text-align: center;
}
.item--price {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-height: 30px;
  height: 15%;
  font-size: 0.7rem;
  text-align: center;
}
.item--description {
  width: 95%;
  height: 65%;
  font-size: 0.6rem;
  line-height: 20px;
  text-align: center;
}
.buying--container {
  display: flex;
  justify-content: center;
  width: 95%;
  gap: 10px;
  margin-bottom: 50px;
}
.purchase {
  font-size: 0.8rem;
  color: black;
  width: 37%;
  max-width: 90px;
  height: 35px;
  border-radius: 5px;
  border-style: solid;
  border-color: white;
  cursor: pointer;
  background-color: white;
}
.purchase:active {
  background-color: rgb(242, 242, 242);
  transform: translateY(1px);
}
input {
  text-align: center;
  color: black;
  height: 35px;
  width: 35%;
  max-width: 60px;
}

.clothing--item {
  height: 50%;
  min-height: 50%;
  max-height: 50%;
  width: 100%;
  max-width: 100%;
}
@media only screen and (min-width: 650px) {
  .women--page {
    background-size: 650px;
    background-position-y: -1px;
  }
  .men--page {
    background-size: 350px;
    background-position-y: 15px;
  }
  .header {
    height: 30%;
  }
  .burger--container {
    display: none;
  }
  .cart--container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 100%;
  }
  .cart--quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6rem;
    font-weight: bold;
    position: relative;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    background-color: red;
    width: 22px;
    height: 22px;
    top: -13px;
    right: 6px;
  }
  .cart {
    width: 28px;
  }
  .season--container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    gap: 125px;
  }
  .season {
    width: 20%;
    min-width: 190px;
    color: white;
    font-size: 1.3rem;
    margin-bottom: 30px;
  }
  .Home--Page {
    background-image: none;
    background-size: auto;
  }

  .item--preview--container {
    margin-top: 200px;
    width: 700px;
    min-height: 200px;
    top: 90px;
  }
  .item--preview {
    height: 650px;
  }

  .item--name {
    font-size: 1.3rem;
  }
  .item--price {
    font-size: 1.1rem;
  }
  .item--description {
    font-size: 1rem;
    line-height: 40px;
  }
  .shopping--cart--container {
    height: 250px;
  }
  .shopping--cart--container img {
    height: 190px;
  }
  .shopping--cart--info {
    height: 85%;
  }
}
@media only screen and (min-width: 1200px) {
  .item--preview--container {
    width: 90%;
    min-height: 250px;
    top: 200px;
  }
  .item--preview {
    width: 24%;
    height: 600px;
  }
  .item--name {
    font-size: 1.3rem;
  }
  .item--price {
    font-size: 1.1rem;
  }
  .item--description {
    font-size: 1rem;
    line-height: 40px;
  }
}
@media only screen and (min-width: 2000px) {
  .item--preview--container {
    width: 70%;
    min-height: 300px;
    top: 200px;
  }
  .item--preview {
    width: 20%;
    height: 600px;
  }
}
@media only screen and (min-width: 2800px) {
  .item--preview--container {
    width: 55%;
    min-height: 400px;
    top: 200px;
  }
  .item--preview {
    width: 20%;
    height: 600px;
  }
}
input[type='number']::-webkit-inner-spin-button {
  opacity: 1;
}
