* {
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root {
  height: 100%;
  width: 100%;
}
.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.Home--Page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(./images/background.png);
  background-size: 1125px 915px;
}
/* Header */
.header {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 17%;
  transition: all 0.4s ease-in-out;
}
.header:hover {
  background-color: rgb(0, 0, 0);
}
.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 99%;
  height: 45%;
}
.links {
  list-style-type: none;
  width: 85%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22%;
  font-size: 0.9rem;
}
li a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}
h1 {
  font-size: 2.4rem;
  font-family: Cochin, Times, 'Times New Roman', serif;
}
.empty {
  position: relative;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.name {
  color: white;
  text-decoration: none;
  width: 99%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.github--logo {
  width: 12%;
}
.name p {
  font-size: 0.5rem;
}
.burger--container {
  position: relative;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.burger--button {
  width: 25px;
  height: 3px;
  border-radius: 5px;
  background-color: white;
  transition: all 0.4s ease-in-out;
}
.burger--button::after,
.burger--button::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 3px;
  border-radius: 8px;
  background-color: white;
  transition: all 0.4s ease-in-out;
}
.burger--button::before {
  transform: translateY(-10px);
}
.burger--button::after {
  transform: translateY(10px);
}
.burger--button.white,
.burger--button.white::before,
.burger--button.white::after {
  background-color: white;
}
/* ANIMATION */
.burger--container.open .burger--button {
  background: transparent;
}
.burger--container.open .burger--button::before {
  transform: rotate(45deg);
}
.burger--container.open .burger--button::after {
  transform: rotate(-45deg);
}

/* Home Page */
.season--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75%;
  gap: 135px;
}
.season {
  height: 60px;
  width: 60%;
  background-color: rgb(93, 30, 30);
  border-color: rgb(93, 30, 30);
  border-style: solid;
  color: white;
  font-size: 1.3rem;
  transition: all 0.1s ease-in-out;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.season:hover {
  background-color: rgb(57, 9, 9);
  border-color: rgb(57, 9, 9);
}
.cart--container {
  display: none;
}

/* Womens Page */

.women--page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url('./images/clothing/female/female-model.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}
.female--model {
  height: 50%;
  width: 100%;
}
video {
  height: 100%;
  width: 100%;
  position: fixed;
  object-fit: cover;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@media only screen and (min-width: 550px) {
  .burger--container {
    display: none;
  }
  .cart--container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 100%;
  }
  .cart {
    width: 28px;
  }
  .season--container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    gap: 125px;
  }
  .season {
    width: 20%;
    min-width: 190px;
    color: white;
    font-size: 1.3rem;
    margin-bottom: 30px;
  }
  .Home--Page {
    background-image: none;
    background-size: auto;
  }
  .female--model {
    height: 80%;
    width: 100%;
  }
}
