* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./images/background.jpg');
  background-size: 1000px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root {
  height: 100%;
  width: 100%;
}
.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-style: solid;
}
/* Header */
.header {
  display: flex;
  background-color: rgba(0, 0, 0, 0.45);
  width: 100%;
  height: 20%;
  transition: all 1s ease-in-out;
  color: wheat;
}
.header:hover {
  background-color: rgba(0, 0, 0, 0.812);
}
.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 99%;
  height: 45%;
}
.links {
  list-style-type: none;
  width: 85%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  font-size: 0.9rem;
}
h1 {
  font-size: 2.2rem;
  font-family: Cochin, Times, 'Times New Roman', serif;
}
.empty {
  position: relative;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.name {
  color: white;
  text-decoration: none;
  width: 99%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.github--logo {
  width: 12%;
}
.name p {
  font-size: 0.5rem;
}
.burger--container {
  position: relative;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.burger--button {
  width: 25px;
  height: 3px;
  border-radius: 5px;
  background-color: wheat;
  transition: all 0.4s ease-in-out;
}
.burger--button::after,
.burger--button::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 3px;
  border-radius: 8px;
  background-color: wheat;
  transition: all 0.4s ease-in-out;
}
.burger--button::before {
  transform: translateY(-10px);
}
.burger--button::after {
  transform: translateY(10px);
}
.burger--button.white,
.burger--button.white::before,
.burger--button.white::after {
  background-color: wheat;
}
/* ANIMATION */
.burger--container.open .burger--button {
  background: transparent;
}
.burger--container.open .burger--button::before {
  transform: rotate(45deg);
}
.burger--container.open .burger--button::after {
  transform: rotate(-45deg);
}

/* Home Page */
.season--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
  gap: 125px;
}
.season {
  height: 70px;
  width: 60%;
  background-color: rgb(116, 48, 48);
  border-color: rgb(116, 48, 48);
  border-style: solid;
  color: wheat;
  font-size: 1.3rem;
}
